@import '~bootstrap/scss/bootstrap.scss';
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.critterpedia {
    background-color: #fffacd;
}

.critterpedia-grid {
    display: flex;
    width: auto;
    border: 1px solid #666666;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 760px;
}

.critterpedia-cell {
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    border-spacing: 5px;
    text-align: center;
    vertical-align: middle;
}

.btn-primary {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.critterpedia-cell img {
    max-width: 65%;
    display: block;
    margin: auto;
}
.critterpedia-header {
    margin: auto;
    max-width: 65%;
}
.critterpedia-header > * {
    display: inline-block;
    margin: 2%;
}

.critterpedia-item-img {
    width: 150px;
    display: block;
    margin: auto;
}
