.critterpedia {
    background-color: #f3eec7;
    color: #4c3c33;
}

.critterpedia-grid {
    display: flex;
    width: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 760px;
    justify-content: center;
}

.critterpedia-cell {
    width: 150px;
    height: 150px;
    outline: 1px groove white;
    text-align: center;
    vertical-align: middle;

    .critter-name {
        text-transform: capitalize;
    }
}

.btn-primary {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.critterpedia-cell{

    img {
        max-width: 65%;
        display: block;
        margin: auto;
    }

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: transparent !important;
        border-color: transparent !important;
        border: none;
        box-shadow: none;
    }
    .btn-primary:hover{
        outline: 1px inset grey;
        outline-offset: -5px;

    }

}
.critterpedia-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 760px;
    margin: 0 auto;
}
.critterpedia-header > * {
    display: block;
    padding: 2px;
    .btn-outline-info {
        color: #4c3c33;
        border-color: #4c3c33;

        &:focus, &:hover {
            background-color: #4c3c33;
            color: white;
        }
    }

    .dropdown-menu {
        background-color: #faf1a3;
        border-radius: 40px;
    }

    .dropdown-item {
        color: #4c3c33;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;
        margin-left: 30px;
        padding: 5px 10px;
        border-radius: 20px;
        &:hover {
            background-color: #f6c60c;
        }
    }
}
.critterpedia-item-modal .modal-content {
    background: #ece0b0;
    font-size: 22px;
    .modal-header {
        .modal-title{
            display: block;
            margin: auto;
            .badge {
                outline: double grey;
                outline-offset: -6px;
                padding: 16px 50px;
                box-shadow: 1px 4px 2px #666;
                transform: rotate(-3deg);
                background: #F9F5DC;
                font-size: 22px;
                font-style: italic;
                text-transform: capitalize;
            }
        }
        .close {
            margin-left: 0;
        }
    }
    .card {
        background: #ece0b0;
    }
}
.critterpedia-item-img {
    width: 150px;
    display: block;
    margin: auto;
}

.card-body {
    padding: 0;
}

.cardRow {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    &.row2 {
        .cardCell {
            width: 49.7%;
        }
    }

    &.row3 {
        .cardCell {
            width: 33%;
        }
    }

    &.withBorder {
        .cardCell {
            border: 1px groove;
        }
    }

    .cardCell {
        .title {
            margin-left: 20px;
        }

        img {
            display: inline;
            width: 75px;
            margin: 5px;
        }
    }

    .cols2-content {
        margin: 0 0 0 30px;
    }
}

.hoursBar {
    width: 266px;
    height: 20px;
    border-bottom: 2px solid grey;
    border-left: 1px solid grey;
    font-size: 20px;
    line-height: 20px;
}

.hour {
    width: 10px;
    display: inline-block;
    height: 100%;
    content: '';
    border-right: 1px solid grey;
    &.filled {
        background-color: #c8bc0d;
    }

    &.current {
        border-right: 3px dotted red;
    }
}

.title {
    background: #d3d184;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    font-style: italic;

    line-height: 22px;
}

.calendar {
    width: 336px;
    height: 128px;
    .row {
        width: 100%;
        height: 41px;
        margin: 0;
        .month {
            width: 82px;
            height: 39px;
            border: 1px groove;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.3);
            &.filled {
                background-color: #c8bc0d;
                color: rgba(0, 0, 0, 1);
            }
            &.current {
                outline: 3px solid red;
                outline-offset: -2px;
            }
        }
    }
}

.tabs {
    margin: 20px auto;
    width: 154px;
    border: none;
    .tab {
        border-radius: 40px;
        border-color: transparent !important;
        height: 80px;
        width: 80px;
        padding: 0;
        background-color: #f6f7e0 !important;
        img {
            height: 60px;
            width: 60px;
            margin: 0 auto;
            display: inline-block;
            margin: 10px 0 0 10px;
        }

        &.fish {
            margin-right: -5px;
        }

        &.bug {
            margin-left: -5px;
        }
    }
}
